name: CMake-Doxygen

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  deploy:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Generate Docs with CMake
      # Build your program with the given configuration
      run: |
        sudo apt-get update
        sudo apt-get install -y doxygen
        mkdir build
        cd build
        cmake ..
        make tinymatrixmath_doxygen -j $(nproc)

    # Publish HTML to GitHub Pages
    - name: Publish HTML to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/html